pre {
  overflow: scroll;
}

a {
  color: black;
  text-decoration: none;
}
a:active {
  color: inherit;
}
a:visited {
  color: inherit;
}
/* line 1, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/base.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  background-color: #fdfdfd;
  color: #333;
}

/* line 11, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/base.scss */
.layout {
  display: flex;
  flex-direction: column;
}

/* line 16, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/base.scss */
.layout .layout__main {
  flex: 1;
}

/* line 20, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/base.scss */
.layout .layout--container {
  width: 100%;
  max-width: 940px;
  margin: auto;
}

/* line 26, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/base.scss */
pre {
  overflow: scroll;
}
/* line 3, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/button.scss */
.button {
  padding: 4px 12px;
  border-top: none;
  background-color: #eee;
  border-bottom: 2px solid #999;
  border-left: none;
  border-right: none;
  border-radius: 4px;
  -webkit-appearance: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2px;
  cursor: pointer;
}

/* line 19, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/button.scss */
.button:visited {
  color: inherit;
}

/* line 23, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/button.scss */
.button:hover {
  background-color: #e9e9e9;
}

/* line 27, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/button.scss */
.button:active {
  border-bottom: 0;
  border-top: 1px solid transparent;
  color: inherit;
  background-color: #e4e4e4;
}

/* line 36, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/button.scss */
.button.button--primary {
  background-color: #E3C69A;
  border-bottom: 2px solid #cd994a;
}

/* line 41, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/button.scss */
.button.button--large {
  padding: 8px 20px;
}
/* line 1, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/form.scss */
.form .form__row {
  margin-bottom: 30px;
}
/* line 1, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/grid-list.scss */
.grid-list {
  display: grid;
  grid-template-areas: "a a a";
  grid-gap: 20px;
}

/* line 6, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/grid-list.scss */
ul.grid-list {
  margin: 0;
  padding: 0;
}

/* line 9, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/grid-list.scss */
.grid-list li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 1, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/h1.scss */
.h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 32px;
}
/* line 1, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/header.scss */
.header {
  width: 100%;
  height: 50px;
  flex: 0 0 50px;
  background: #E3C69A;
  border-bottom: 2px solid #AD8D5D;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

/* line 11, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/header.scss */
.header :first-child {
  margin-left: 40px;
}

/* line 14, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/header.scss */
.header :last-child {
  margin-right: 40px;
}

/* line 18, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/header.scss */
.header .header__title {
  font-size: 16px;
  font-weight: 500;
  margin-right: auto;
}

/* line 23, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/header.scss */
.header .header__title a {
  color: inherit;
  text-decoration: inherit;
}
/* line 1, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/input.scss */
.input {
  width: 100%;
  height: 30px;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 16px;
  padding: 0 12px;
  display: block;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
/* line 1, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/label.scss */
.label {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: block;
  letter-spacing: 0.5px;
}
/* line 1, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/page-header.scss */
.page-header {
  display: flex;
  align-items: center;
}

/* line 6, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/page-header.scss */
.page-header .page-header__actions {
  margin-left: auto;
}
/* line 1, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/site-title.scss */
.site-tile {
  display: flex;
  flex-direction: column;
}

/* line 6, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/site-title.scss */
.site-tile .site-tile__img {
  height: 230px;
  background-color: #ECECEC;
  margin-bottom: 10px;
}

/* line 12, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/site-title.scss */
.site-tile .site-tile__title {
  font-size: 16px;
}

/* line 16, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/components/site-title.scss */
.site-tile .site-tile__subtitle {
  font-size: 12px;
  font-style: italic;
}
/* line 12, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.col-1 {
  width: 60px;
}

/* line 15, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.col-2 {
  width: 140px;
}

/* line 18, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.col-3 {
  width: 220px;
}

/* line 21, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.col-4 {
  width: 300px;
}

/* line 24, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.col-5 {
  width: 380px;
}

/* line 27, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.col-6 {
  width: 460px;
}

/* line 30, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.col-7 {
  width: 540px;
}

/* line 33, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.col-8 {
  width: 620px;
}

/* line 36, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.col-9 {
  width: 700px;
}

/* line 39, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.col-10 {
  width: 780px;
}

/* line 42, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.col-11 {
  width: 860px;
}

/* line 45, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.col-12 {
  width: 940px;
}

/* line 48, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.offset-1 {
  margin-left: 60px;
}

/* line 51, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.offset-2 {
  margin-left: 140px;
}

/* line 54, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.offset-3 {
  margin-left: 220px;
}

/* line 57, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.offset-4 {
  margin-left: 300px;
}

/* line 60, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.offset-5 {
  margin-left: 380px;
}

/* line 63, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.offset-6 {
  margin-left: 460px;
}

/* line 66, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.offset-7 {
  margin-left: 540px;
}

/* line 69, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.offset-8 {
  margin-left: 620px;
}

/* line 72, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.offset-9 {
  margin-left: 700px;
}

/* line 75, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.offset-10 {
  margin-left: 780px;
}

/* line 78, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.offset-11 {
  margin-left: 860px;
}

/* line 81, /Users/zack/Projects/zjm-analytics/app/assets/stylesheets/shared/_grid.scss */
.offset-12 {
  margin-left: 940px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *



 */

