$c-primary: #E3C69A;
$c-primary-dark: darken($c-primary, 20%);
$c-primary-light: lighten($c-primary, 20%);
$c-primary-pale: #FBFBF7;

$c-true-black: #000;
$c-black: #333;

$c-light-gray: #ccc;
$c-gray: #999;
$c-dark-gray: #666;

$c-true-white: #fff;
$c-white: #fdfdfd;
$c-less-white: #fafafa;
$c-least-white: #eee;

$c-danger: #ed0000;
