$col-size: 60px;
$col-gap: 20px;

@mixin col($n) {
  width: $n * $col-size + ($n - 1) * $col-gap;
}

@mixin offset($n) {
  margin-left: $n * $col-size + ($n - 1) * $col-gap;
}

.col-1 {
  @include col(1);
}
.col-2 {
  @include col(2);
}
.col-3 {
  @include col(3);
}
.col-4 {
  @include col(4);
}
.col-5 {
  @include col(5);
}
.col-6 {
  @include col(6);
}
.col-7 {
  @include col(7);
}
.col-8 {
  @include col(8);
}
.col-9 {
  @include col(9);
}
.col-10 {
  @include col(10);
}
.col-11 {
  @include col(11);
}
.col-12 {
  @include col(12);
}
.offset-1 {
  @include offset(1);
}
.offset-2 {
  @include offset(2);
}
.offset-3 {
  @include offset(3);
}
.offset-4 {
  @include offset(4);
}
.offset-5 {
  @include offset(5);
}
.offset-6 {
  @include offset(6);
}
.offset-7 {
  @include offset(7);
}
.offset-8 {
  @include offset(8);
}
.offset-9 {
  @include offset(9);
}
.offset-10 {
  @include offset(10);
}
.offset-11 {
  @include offset(11);
}
.offset-12 {
  @include offset(12);
}
