@font-face {
  font-family: 'Source Sans Pro';
  src: url(font-path("SourceSansPro-ExtraLight.otf.woff2")) format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(font-path("SourceSansPro-Light.otf.woff2")) format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(font-path("SourceSansPro-Regular.otf.woff2")) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(font-path("SourceSansPro-Semibold.otf.woff2")) format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(font-path("SourceSansPro-Bold.otf.woff2")) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(font-path("SourceSansPro-Black.otf.woff2")) format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(font-path("SourceSansPro-ExtraLightIt.otf.woff2")) format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(font-path("SourceSansPro-LightIt.otf.woff2")) format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(font-path("SourceSansPro-It.otf.woff2")) format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(font-path("SourceSansPro-SemiboldIt.otf.woff2")) format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(font-path("SourceSansPro-BoldIt.otf.woff2")) format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(font-path("SourceSansPro-BlackIt.otf.woff2")) format("woff2");
  font-weight: 900;
  font-style: italic;
}
