<header class='page-header col-6 offset-3'>
  <h1 class='h1'>User Settings</h1>
</header>

<section class='section col-6 offset-3'>
  <h2 class='h2 _unmargin'>Email</h2>
  <div class='flex-view'>
    <%= current_user.email %>
    <%= link_to 'Edit', edit_user_registration_path, class: 'button flex-view__pull-right' %>
  </div>
</section>


<section class='section col-6 offset-3'>
  <div class='flex-view'>
    <h2 class='h2 _unmargin'>Password</h2>
    <%= link_to 'Change Password', edit_user_registration_path, class: 'button flex-view__pull-right' %>
  </div>
</section>

<section class='section col-6 offset-3'>
  <div class='flex-view'>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'flex-view__pull-right button button--danger' %>
  </div>
</section>


