<main class='layout__full'>
  <div class='landing-page'>
    <div class='landing-page__left'>
      <div class='landing-page__title-box'>
        <%= image_tag('logo.svg', class: 'landing-page__logo') %>
        <div class='landing-page__tagline'>Analytics made simple</div>
      </div>
    </div>
    <div class='landing-page__right'>
      <div class='landing-page__content-box'>
        <div class='landing-page__header'>
          Sign up to get notified when the beta is ready
        </div>
        <div class='landing-page__form'>
          <div class='label'>Email</div>
          <input type='email' class='input' />
        </div>
        <div class='landing-page__actions'>
          <div class='_flex-center'>
            <button class='button'>Sign Up</button>
            <div class='landing-page__info'>
              Already have an account? <span class='t-link'>Log in</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
