<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Transfer Request</title>
    <style type="text/css">
      body { color: #333333; }
      a { color: #333333; }
      a[class="button"] {
        display: inline-block;
        padding: 4px 12px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        color: #333333;
        background: #f4f4f4;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.2px;
        font-family: inherit;
        text-decoration: none;
        margin: 0px 25px;
      }
      @media only screen and (max-width: 640px) {
        table[class="container"] {
          width: 100% !important;
        }
        tr[class="mobile-hidden"] {
          display: none !important;
        }
        tr[class="mobile-only"] {
          display: table-row !important;
        }
      }
    </style>
  </head>
  <body bgcolor="#fdfdfd" leftmargin="0" marginheight="0" marginwidth="0" topmargin="0" alink="#333333">
    <br>
    <div style="display:block;padding:0;margin:0;height:100%;max-height:none;min-height:none;line-height:normal;overflow:visible;">
      <table class="container" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse;border-spacing:0;width:742px;">
        <tr class="mobile-hidden">
          <td style="width:20px;"></td>
          <td align="left" style="font-size:32px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333333">
            Account Transfer Request
          </td>
          <td align="right">
            <img width="140" height="32" alt="zjm Analytics" src="https://analytics.zjm.me/wordmark.png" border="0" style="border:none;padding:0;margin:0;-ms-interpolation-mode:bicubic;">
          </td>
          <td style="width:20px;"></td>
        </tr>
        <tr class="mobile-only" style="display: none">
          <td width="20"></td>
          <td colspan="2" align="center">
            <img width="140" height="32" alt="zjm Analytics" src="https://analytics.zjm.me/wordmark.png" border="0" style="border:none;padding:0;margin:0;-ms-interpolation-mode:bicubic;">
          </td>
          <td width="20"></td>
        </tr>
        <tr class="mobile-only" style="display: none" height="16">
          <td colspan="4"></td>
        </tr>
        <tr class="mobile-only" style="display: none">
          <td width="20"></td>
          <td colspan="2"  align="center" style="font-size:26px; font-weight:400; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333333;">
            Account Transfer Request
          </td>
          <td width="20"></td>
        </tr>
        <tr height="20">
          <td colspan="4"></td>
        </tr>

        <tr>
          <td colspan="4" align="center">
            <table id="content-tbl" border="0" cellpadding="0" cellspacing="0" align="left" style="font-family:'-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;border-collapse:collapse;border-spacing:0;">
              <tr>
                <td style="width:20px;"></td>
                <td align="left" style="border-top:1px solid #cccccc;border-bottom: 1px solid #cccccc;padding-top:40px;padding-bottom:60px;">
                  <p>Hello,</p>
                  <p>Someone requested you to take ownership of the analytics account “<%= link_to @account.name, @transfer_response_url %>.” To assume management of this account, click “Accept” below.</p>
                  <p align="center" style="text-align: center; margin: 30px 0px;">
                    <%= link_to 'Accept', @accept_url, class: 'button' %>
                    <%= link_to 'Reject', @reject_url, class: 'button' %>
                  </p>
                  <p>If you think this was a mistake, you can ignore this email.</p>
                </td>
                <td style="width:20px;"></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="footer-spacer" style="height:30px">
          <td colspan="4"></td>
        </tr>
        <tr>
          <td colspan="4" align="center">
            <img class="large-footer-logo" width="32" height="32" border="0" alt="zjm Analytics" src="https://analytics.zjm.me/icon.png" style="border:none;padding:0;margin:0;-ms-interpolation-mode: bicubic;">
          </td>
        </tr>
        <tr height="8"><td colspan="4"></td></tr>
        <tr>
          <td colspan="4" align="center" style="font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#999999">
            Copyright &copy; 2019 zjm Analytics
          </td>
        </tr>
        <tr height="25"><td colspan="4" height="30"></td></tr>
      </table>
    </div>
  </body>
</html>
