@import '../shared/colors';

.button-menu {
  position: relative;
}

.button-menu .button-menu__button {
  display: block;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: $c-least-white;
  }

  &._active {
    background: $c-least-white;
  }
}

.button-menu .button-menu__menu {
  position: absolute;
  display: none;
  top: 100%;
  right: 0px;
  width: 150px;
  background: $c-less-white;
  border: 1px solid $c-light-gray;
  margin-top: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 1px;

  &._active {
    display: block;
  }
}

.button-menu .button-menu__item {
  display: block;
  padding: 10px;
  font-size: 14px;

  &:hover {
    background: $c-least-white;
  }
}
