@import '../shared/colors';
@import '../shared/dimensions';
@import '../mixins';

.button-menu {
  position: relative;

  .button-menu__button {
    display: block;
    height: $d-header-height;
    min-width: $d-header-height;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $c-dark-gray;
    font-size: 14px;
    @include user-select(none);
    padding-bottom: $d-header-padding;
  }

  &:hover .button-menu__button {
    background: $c-light-gray;
  }

  .button-menu__popup {
    position: absolute;
    display: none;
    top: 100%;
    right: 0px;
    width: 150px;
    z-index: 10;
  }

  .button-menu__popup::before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
  }

  .button-menu__menu {
    position: relative;
    // top: 1px;
    background: $c-less-white;
    border: 1px solid $c-light-gray;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
  }

  &:hover .button-menu__popup {
    display: block;
  }

  .button-menu__icon {
    width: 30px;
    height: 30px;
    padding: 3px;
    opacity: 0.5;
  }

  .button-menu__title {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: $c-gray;
    text-align: center;
    margin: 5px 0;
    @include user-select(none);
  }

  .button-menu__title--small {
    font-size: 10px;
    margin: 0;
    text-align: left;
  }

  .button-menu__item {
    display: block;
    padding: 10px;
    font-size: 14px;

    &:hover {
      background: $c-least-white;
    }
  }

  .button-menu__divider {
    border: 0;
    border-bottom: 1px solid $c-light-gray;
  }

  @media (max-width: 640px) {
    .button-menu__button {
      padding-left: 4px;
      padding-right: 4px;
      min-width: 0;
    }
  }
}
