@import '../shared/colors';

.button {
  padding: 4px 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: $c-black;
  background: $c-light-gradient;
  // box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  -webkit-appearance: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 200ms, color 200ms;
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  &:hover {
    background: $c-dim-gradient;
  }

  &:active {
    background: $c-dimmer-gradient-inverse;
    box-shadow: none;
  }

  &.button--danger {
    background: $c-danger-gradient;
    color: $c-white;
  }

  &.button--danger:active {
    background: $c-danger-gradient-inverse;
    color: $c-white;
  }

  &.button--danger[disabled] {
    background-color: $c-light-danger;
    color: $c-light-danger-text;
  }

  &[disabled] {
    color: $c-dark-gray;
    border-color: $c-dark-gray;
    background-color: $c-least-white;
    background-image: none;
    border-color: rgba(0, 0, 0, 0.2);
  }
}
