@import '../shared/colors';

.button {
  padding: 4px 12px;
  border: 1px solid $c-black;
  color: $c-black;
  background-color: $c-white;
  border-radius: 3px;
  -webkit-appearance: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 200ms, color 200ms;

  &:visited {
    color: inherit;
  }

  &:hover {
    background-color: $c-least-white;
  }

  &.button--danger {
    border: 1px solid $c-danger;
    color: $c-danger;
    background-color: $c-white;
  }

  &.button--danger:hover {
    background-color: $c-danger;
    color: $c-white;
  }

  &[disabled] {
    color: $c-dark-gray;
    border-color: $c-dark-gray;
    background-color: $c-least-white;
  }
}
