@import '../shared/colors';
@import '../shared/dimensions';

.button-menu {
  position: relative;

  .button-menu__button {
    display: block;
    height: $d-header-height;
    width: $d-header-height;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover .button-menu__button {
    background: $c-light-gray;
  }

  .button-menu__menu {
    position: absolute;
    display: none;
    top: 100%;
    right: 0px;
    width: 150px;
    background: $c-less-white;
    border: 1px solid $c-light-gray;
    margin-top: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
  }

  &:hover .button-menu__menu {
    display: block;
  }

  .button-menu__item {
    display: block;
    padding: 10px;
    font-size: 14px;

    &:hover {
      background: $c-least-white;
    }
  }
}
