@import '../shared/colors';

.button {
  padding: 4px 12px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  color: $c-black;
  background: linear-gradient(#f9f9f9, #f4f4f4);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  -webkit-appearance: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 200ms, color 200ms;

  &:visited {
    color: inherit;
  }

  &:hover {
    background: linear-gradient(#f4f4f4, #f0f0f0);
  }

  &:active {
    background: linear-gradient(#f0f0f0, #f9f9f9);
    box-shadow: none;
  }

  &.button--danger {
    background: linear-gradient(#F96464, #D96262);
    color: $c-white;
  }

  &.button--danger:active {
    background: linear-gradient(#D96262, #F96464);
    color: $c-white;
  }

  &[disabled] {
    color: $c-dark-gray;
    border-color: $c-dark-gray;
    background-color: $c-least-white;
  }
}
