.grid-list {
  display: flex;
  flex-wrap: wrap;
}
ul.grid-list {
  margin: 0; padding: 0;
}

.grid-list.grid-list--3 .grid-list__item {
  flex: 0 0 33.3333%;
}

.grid-list .grid-list__item {
  margin-right: 20px;
}
.grid-list li {
  list-style-type: none;
  margin: 0; padding: 0;
}
