.h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 32px;
  margin-top: 0;
}

.h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 28px;
  margin-top: 0;
}

.h1.h1--cuddle,
.h2.h2--cuddle {
  margin-bottom: 20px;
}

.subtitle {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

hgroup,
hgroup.h1 {
  margin-bottom: 32px;
}
hgroup.h2 {
  margin-bottom: 28px;
  font-weight: initial;
}
hgroup .h1,
hgroup .h2 {
  margin-bottom: 0;
}
hgroup .subtitle {
  font-size: 16px;
}
