@import '../shared/colors';
@import '../shared/dimensions';

.header {
  width: 100%;
  height: $d-header-height;
  flex: 0 0 $d-header-height;
  background: $c-less-white;
  border-bottom: 2px solid $c-light-gray;
  display: flex;
  align-items: center;

  > :first-child {
    margin-left: 40px;
  }

  > :last-child {
    margin-right: 40px;
  }

  .header__logo {
    height: 36px;
  }

  .header__title {
    font-size: 16px;
    font-weight: 500;
    margin-right: auto;
  }

  @media (max-width: 640px) {
    > :first-child {
      margin-left: 10px;
    }

    > :last-child {
      margin-right: 10px;
    }
  }
}
