.page-header {
  display: flex;
  align-items: center;
}

.page-header .page-header__actions {
  margin-left: auto;
}

.page-header .page-header__actions .page-header__action {
  margin-left: 10px;
}
