.site-tile {
  display: flex;
  flex-direction: column;
}

.site-tile .site-tile__img {
  height: 230px;
  width: 100%;
  background-color: #ECECEC;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 6px;
  object-fit: cover;
}

.site-tile .site-tile__img[src=""] {
  border: none;
  background-image: url(image-path('no-site.svg'));
}

.site-tile .site-tile__title {
  display: block;
  font-size: 16px;
}

.site-tile .site-tile__subtitle {
  display: block;
  font-size: 12px;
  font-style: italic;
}
