.site-tile {
  display: flex;
    flex-direction: column;

  .site-tile__img-wrapper {
    height: 230px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .site-tile__img {
    object-fit: cover;
    // background-color: #eee;
    height: 100%;
    width: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .site-tile__img._fallback {
    width: 50%;
    height: auto;
  }

  .site-tile__footer {
    display: flex;
  }

  .site-tile__details {
    flex: 1;
  }

  .site-tile__title {
    display: block;
    font-size: 16px;
  }

  .site-tile__subtitle {
    display: block;
    font-size: 12px;
    font-style: italic;
  }

  @media (max-width: 1024px) {
    flex-direction: row;

    .site-tile__img-wrapper {
      flex-shrink: 0;
      height: 75px;
      width: 100px;
    }

    .site-tile__footer {
      margin-left: 10px;
      justify-content: space-between;
      flex: 1;
    }

    .site-tile__title {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

}
