@import '../shared/colors';
@import '../shared/dimensions';

.site-nav {
  font-size: 12px;
  display: flex;
  align-items: center;

  .site-nav__item {
    margin-left: 10px;
  }

  .site-nav__user-icon {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    border: 1px solid $c-light-gray;
  }

  .site-nav__item--link {
    display: block;
    height: $d-header-height;
    min-width: $d-header-height;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: $c-dark-gray;
    font-size: 14px;

     &:hover {
        background: $c-light-gray;
     }
  }

  &.site-nav--align-bottom .site-nav__item--link {
    padding-bottom: $d-header-padding;
  }
}
