@import '../shared/colors';
@import '../mixins';

.t-muted {
  color: $c-dark-gray;
}

.t-info {
  color: $c-dark-gray;
  font-size: 12px;
}

.t-link {
  text-decoration: underline;
  cursor: pointer;
}

.t-label {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: $c-gray;
  text-align: center;
  margin: 5px 0;
  @include user-select(none);
}
