<pre id='tracking_code'>
&lt;script&gt;
  var clientId = document.cookie.replace(/(?:(?:^|.*;\s*)_za\s*\=\s*([^;]*).*$)|^.*$/, "$1");
  if (clientId.length === 0) {
    clientId = (function() {
      var dt = new Date().getTime();
      var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
          var r = (dt + Math.random()*16)%16 | 0;
          dt = Math.floor(dt/16);
          return (c=='x' ? r :(r&0x3|0x8)).toString(16);
      });
      return uuid;
    })();

    document.cookie = '_za=' + clientId + '; max-age=63072000; domain=' + document.location.hostname;
  }
  var i = new Image();
  i.src = `<%= tracking_url %>?hit_type=pageview&location=${window.location}&language=${navigator.language}&encoding=${document.charset}&title=${document.title}&color_depth=${screen.colorDepth}&screen_res=${screen.width}x${screen.height}&viewport=${innerWidth}x${innerHeight}&tracking_id=<%= @site.tracking_id %>&client_id=${clientId}`;
&lt;/script&gt;
</pre>
<button onclick="copyCode(this)">Copy Code</button>
<script>
  function copyCode(button) {
    var el = document.getElementById('tracking_code');

    var target = document.createElement("textarea");
    target.style.position = "absolute";
    target.style.left = "-9999px";
    target.style.top = "0";
    document.body.appendChild(target);
    target.textContent = el.textContent;

    var currentFocus = document.activeElement;
    target.focus();
    target.setSelectionRange(0, target.value.length);
    var succeed = true;
    try {
      document.execCommand("copy");
    } catch(e) {
      succeed = false;
    }

    if (currentFocus && typeof currentFocus.focus === "function") {
        currentFocus.focus();
    }
    target.textContent = "";

    if (succeed) {
      button.textContent = "Copied!";
      button.disabled = true;
    }
  }
</script>
