<%= render :partial => 'form' %>

<div class='row'>
  <div class='four columns offset by-four'>
    <%= link_to 'Delete Site', @site, method: :delete, data: {confirm: "Are you sure?"}, class: 'button button--danger' %>
  </div>
</div>
