<h1 class='h1'>Accounts</h1>

<section class='section'>
<% @accounts.each do |account| %>
  <div class='resource-list-item'>
    <h2 class='resource-list-item__name'><%= account.name %></h2>
    <% if account == current_account %>
      <span class='resource-list-item__link'>Current account</span>
    <% else %>
      <span class='resource-list-item__link'>Switch to this account</span>
    <% end %>
    <% if account.owner == current_user %>
      | <%= link_to 'Edit', edit_user_account_path(account.owner, account), class: 'resource-list-item__link' %>
      <% if current_user.owned_accounts.size > 1 %>
        | <%= link_to 'Delete', [account.owner, account], method: :delete, data: { confirm: "Delete account #{account.name}?" }, class: 'resource-list-item__link' %>
      <% end %>
    <% end %>
  </div>
<% end %>
</section>


<%= link_to 'New Account', new_user_account_path(current_user), class: 'button' %>
