<div class='row'>
  <div class='whole column'>
    <h1 class='h1'>Settings</h1>
  </div>
</div>

<div class='row'>
  <div class='four columns'>
    <%= render :partial => 'shared/settings-nav', locals: {current_page: 'accounts'} %>
  </div>
  <div class='seven columns'>
    <h2 class='h2 h2--cuddle'>Accounts you manage</h2>


    <section class='section'>
      <div class='box-list'>
        <% @owned_accounts.each do |account| %>
          <%= render :partial => 'box-list-row', locals: {account: account, owned: true} %>
        <% end %>

        <div class='box-list__action-row _will-hide' id='new-account-row' data-js-toggle='#new-account-form-row,#new-account-row'>
          <div class='t-label'>Create new account</div>
        </div>
        <div class='box-list__row _hidden' id='new-account-form-row'>
          <%= render :partial => 'row-form', locals: {account: Account.new, owner: current_user} %>
        </div>
      </div>
    </section>
  </div>
</div>


