<h1>New Account</h1>

<div class='row'>
  <div class='four columns offset by-four'>
    <%= render 'form', account: @account, owner: current_user %>

    <%= link_to 'Back', user_accounts_path(current_user) %>
  </div>
</div>
